<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Add Relation</title>
      <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
      <link rel="stylesheet" type="text/css" href="../../../static/css/style.css" th:href="@{/css/style.css}"/>
   </head>
   <body>
   <div class = "main" style="vertical-align:top; text-align: left"> 
      <h2>Create a Relation :</h2>
      <form th:action="@{addRelation}"
         th:object = "${rel}" method="POST">
        	 Name :
         <input type="text" th:field="*{name}"/>    
         <br/>
         <font size="1" color="gray">ex : DERIV</font>
         <br/>
         Source Concept Id:
         <input type="text" th:field="*{source}" />     
         <br/>
         <font size="1" color="gray">ex : 1 </font>
         <br/>
         Target Concept Id: 
		<input type="text" th:field="*{target}"/>     
         <br/>
         <font size="1" color="gray">ex : 64298</font>
         <br/>
         Domain Id :  
		<input type="text" th:field="*{domain}" />     
         <br/>
         <font size="1" color="gray">ex : 1</font>
         <br/>
         Description : 
		<input type="text" th:field="*{description}" />     
         <br/>
         <font size="1" color="gray">ex : eng_derivative</font>
         <br/>
         Disabled : 
         <INPUT TYPE="radio" th:field="*{disabled}" VALUE ="true" CHECKED>True
		 <INPUT TYPE="radio" th:field="*{disabled}" VALUE="false">False
         <br/>
         <font size="1" color="gray">ex : true or false</font>
         <br/>
         Origin : 
		<input type="text" th:field="*{origin}" />     
         <br/>
         <font size="1" color="gray">ex : true or false</font>
         <br/><br/>
         <input type="submit" value="Create" />
  		<br/><br/>
      </form>
      <!-- Check if errorMessage is not null and not empty -->
	  <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;vertical-align:bottom;">
      </div>
      <!-- Check if Source Concept is not exist -->
	  <div th:if="${errorMesOfSourceConcept}" th:utext="${errorMesOfSourceConcept}"
         style="color:red;font-style:italic;vertical-align:bottom;">
      </div>
      <!-- Check if Target Concept is not exist -->
	  <div th:if="${errorMesOfTargetConcept}" th:utext="${errorMesOfTargetConcept}"
         style="color:red;font-style:italic;vertical-align:bottom;">
      </div>
      <a href="/"> <p style="text-align:center">Home page </p></a>
      </div>
   </body>
</html>