<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Find Word</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
   <div class = "main" style="vertical-align:top; text-align: center"> 
	<h2>Find word by Lemma</h2>
    <form action="#" th:action="@{/findWordByLemma}" th:object="${greeting}" method="post">
    	<p>Id: <input type="text" th:field="*{lemma}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    	<a href="/">Home page</a>
    </form>
    </div>
</body>
</html>