<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Not existe</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1> <p style="text-align:center">Not exist </p></h1>
     	<p style="text-align:center"><td th:utext="${errorMesOfWord}">...</td></p> 
     	<p style="text-align:center"><td th:utext="${errorMesOfConcept}">...</td></p> 
        <br><br>
    	<a href="/"> <p style="text-align:center">Home page</p></a>
   </body>
</html>