<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>LeffSem List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h2 align="center">LeffSem List</h2>
      <p align = "center"> <font size="2"><td th:text =${nbLeffSems}>...≤/td> <td> leffsems in Database.</font></td></p>
      <br/><br/>
      <div style="vertical-align:top; text-align: center; width : 100%; height : auto;">
         <table align = "center" border="1" cellpadding="3" cellspacing="0" style="width: 60%;margin:auto">
            <tr>
               <th>Id</th>
               <th>Word Id</th>
               <th>Form</th>
               <th>Pred</th>
               <th>Frame</th>
               <th>Tag</th>
               <th>Syntax</th>
            </tr>
            <tr th:each ="lfs : ${leffSems}">
               <td th:utext="${lfs.id}">...</td>
               <td ><a th:href="@{../word/}+${lfs.wordId}" th:utext = "${lfs.wordId}"></a></td>
               <td th:utext="${lfs.form}">...</td>
               <td th:utext="${lfs.pred}">...</td>
               <td th:utext="${lfs.frame}">...</td>
               <td th:utext="${lfs.tag}">...</td>
               <td th:utext="${lfs.syntax}">...</td>
            </tr>
         </table>
        <br><br>
      </div>
    	<a href="/"> <p style="text-align:center">Home page </p></a>
   </body>
</html>